
<div class="container">
    <h1 *ngIf="customerList.length == 0">No customers yet!</h1>
    <div class="card" *ngFor="let customer of customerList" style="width: 18rem;">
     
        <img src={{customer.imageUrl}} class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Name : {{customer.name|uppercase}}</h5>
          <input [(ngModel)]="customer.name" placeholder="name"/>
          <p class="card-text">Age : {{customer.age}}</p>
          <p class="card-text">Id : {{customer.id}}</p>
          <p class="card-text">Gender :{{customer.gender}}</p>
    
          <p class="card-text">Description :{{customer.description}}</p>
          <a class="btn btn-primary" (click)="onViewDetail(customer.id)">Update Customer</a>
            <a style="margin-left:20px" class="btn btn-primary" (click)="delete(customer.id)">Delete</a>
        </div>
       
      </div> 
      <a style="margin: 10px auto;width:300px;max-height: 50px;" class="btn btn-primary" (click)="onViewDetail(-1)">Add</a>
    </div>
    